*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(46, 0, 59);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
ul> li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 100%;
    gap: 50px;
}
.main > div >  div{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
}



.first{
    display: flex;
    justify-content: space-between;
}
.second{
    display: flex;
    justify-content: space-between;
}
@media (max-width : 600px) {
    nav{
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width : 1000px) {
    .first , .second{
        flex-direction: column;
    }
    .main > div >  div{   
        width: 100%;
    }
    .main{
        gap:0;
        overflow-x: hidden;
    }
}