*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img{
    height: 100vh;
    width: 100vw;
    background-image: url("./img/pexels-catiamatos-1072179.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
ul> li{
    list-style: none;
}

.bg-img > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.bg-img > div > p{
    text-align: center;
    margin: 20px;
}